@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mouse-hover {
  cursor: pointer;
}


form label {
  text-transform: uppercase;
  color: grey;
}

form input {
  font-weight: 500;
}

form input::placeholder {
  color: #c0bdbd;
  font-weight: 300;
}

form.submitted input.ng-invalid{
  border-color: red;
}
jumbotron{
  padding-top: 0px;
  background: #ffffff;
}
table.table-hover tbody tr:hover{
  cursor: pointer;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e1e4e8;
  border-radius: .3rem;
}
:host {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 8px 16px;
}
.mat-dialog-container {
  padding: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
