<div class="container">

  <h6 class="display-1">Order Food Item</h6>
  <hr>
  <form #form="ngForm" autocomplete="off">
    <div class="form-group">
      <label>Food Item</label>
      <select name="ItemId" #ItemId="ngModel" [(ngModel)]="formData.ItemId" class="form-control">
        <option value="">-SELECT-</option>
      </select>
    </div>
    <div class="row">
      <div class="form-group col-md-4 pt-3">
        <label>Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">£</div>
          </div>
          <input name="Price" #Price="ngModel" [(ngModel)]=" formData.Price" class="form-control" readonly/>
        </div>
      </div>
      <div class="form-group  col-md-4 pt-3">
        <label>Quantity</label>
        <div class="input-group">
          <input name="Quantity" #Quantity="ngModel" [(ngModel)]=" formData.Quantity" class="form-control"/>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6 pt-3">
      <label>Total</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">£</div>
        </div>
        <input name="Total" #Total="ngModel" [(ngModel)]=" formData.Total" class="form-control" readonly/>
      </div>
    </div>
    <div class="form-group pt-3">
      <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i>Submit</button>
      <button type="button" class="btn btn-outline-dark m-lg-1"><i class="fa fa-close"></i>Close</button>
    </div>
  </form>
</div>
